:root {
    --background-color: #333;
    --text-color: #FFFFFF;
    --cell-hover-color: #555;
    --cell-border-color: #ccc;
    --highlighted-cell-color: #FF4444;
    --initial-value-color: #AAAAAA;
    --input-color: #666666;
    --button-background-color: #444;
    --button-hover-background-color: #666;
    --button-text-color: #fff;
}

@media (min-width: 701px) {
    .GridPage {
        width: 100vw;
        min-height: 100vh;
        background-image: url("../../public/wood-texture-close.webp");
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Arial', sans-serif;
    }

    .GlobaleGrid {
        display: flex;
        flex-direction: row-reverse;
    }

    .GridPage h2 {
        color: var(--text-color);
        font-size: 2em;
        margin-bottom: 20px;
        width: 508px;
        display: flex;
        justify-content: center;
        color: #000000;

    }

    .GridBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .GridHimself {
        display: grid;
        background-color: #FFFFFF44;
        grid-template-columns: repeat(9, 52px);
        grid-template-rows: repeat(9, 52px);
        border: 2px solid var(--text-color);
        color: var(--text-color);
        gap: 2px;
        border-radius: 10px;
        padding: 10px;
    }

    .GridHimself input {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        border: 1px solid var(--cell-border-color);
        transition: background-color 0.3s ease;
    }

    .GridHimself input:hover {
        background-color: var(--cell-hover-color);
    }

    .GridHimself .thick-border-right {
        border-right: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-left {
        border-left: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-bottom {
        border-bottom: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-top {
        border-top: 3px solid var(--text-color);
    }

    .GridControls {
        display: flex;
        flex-direction: column;
        width: 100px;
        margin-left: 50px;
    }

    .GridControls .Left {
        display: flex;
        flex-direction: column;

        button{
            margin-bottom: 10px;
        }
    }

    .GridControls .Right {
        width: 100px;
        margin-top: 50px;

        button{
            width: 100px;
        }
    }



    .GridControls button {
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .GridControls button:hover {
        background-color: var(--button-hover-background-color);
    }
}






@media (max-width: 700px) {
    .GridPage {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("../../public/wood-texture-close.webp");
        font-family: 'Arial', sans-serif;
    }

    .Left button{
        margin-right: 10px;
    }

    .SudokuArea{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .GlobaleGrid{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }

    .GridPage h2 {
        color: var(--text-color);
        font-size: 1.5em;
        margin-bottom: 5px;
        margin-top: 5px;
        color: #000000;
    }

    .GridBody {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .GridHimself {
        display: grid;
        grid-template-columns: repeat(9, 30px);
        grid-template-rows: repeat(9, 30px);
        background-color: #FFFFFF44;
        border: 2px solid var(--text-color);
        color: var(--text-color);
        gap: 2px;
        border-radius: 10px;
        width: 285px;
        padding: 10px;
    }

    .GridHimself input {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        font-size: 10px;
        text-align: center;
        margin: 0;
        padding: 0;
        border-radius: 5px;
        border: 1px solid var(--cell-border-color);
        transition: background-color 0.3s ease;
    }

    .GridHimself input:hover {
        background-color: var(--cell-hover-color);
    }

    .GridHimself .thick-border-right {
        border-right: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-left {
        border-left: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-bottom {
        border-bottom: 3px solid var(--text-color);
    }

    .GridHimself .thick-border-top {
        border-top: 3px solid var(--text-color);
    }

    .GridControls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 309px;
        height: 26px;
        margin-bottom: 10px;
    }

    .GridControls button {
        background-color: var(--button-background-color);
        color: var(--button-text-color);
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .GridControls button:hover {
        background-color: var(--button-hover-background-color);
    }
}
