@media (min-width: 501px) {
    .GridPage {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .GridPage h2 {
        color: #FFFFFF;
    }

    .GridBody {
        display: flex;
        flex-direction: row;
    }

    .GridHimself {
        display: grid;
        grid-template-columns: repeat(9, 52px);
        grid-template-rows: repeat(9, 52px);
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    .GridHimself input {
        box-sizing: border-box;
        width: 52px;
        height: 52px;
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .GridHimself .thick-border-right {
        border-right: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-left {
        border-left: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-bottom {
        border-bottom: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-top {
        border-top: 3px solid #FFFFFF;
    }

    .GridControls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 470px;
    }

    input {
        color: #666666;
    }
}

@media (max-width: 500px) {
    .GridPage {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .GridPage h2 {
        color: #FFFFFF;
    }

    .GridBody {
        display: flex;
        flex-direction: row;
    }

    .GridHimself {
        display: grid;
        grid-template-columns: repeat(9, 35px);
        grid-template-rows: repeat(9, 35px);
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    .GridHimself input {
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        font-size: 10px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .GridHimself .thick-border-right {
        border-right: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-left {
        border-left: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-bottom {
        border-bottom: 3px solid #FFFFFF;
    }

    .GridHimself .thick-border-top {
        border-top: 3px solid #FFFFFF;
    }

    .GridControls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 317px;
    }

    input {
        font-size: 10px;
    }
}
