@media (min-width : 501px) {    

.GridPage {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .InputError{
        color: #FF0000;
        font-size: 20px;
    }
}

.GridPage h2 {
    color: #FFFFFF;
}

.GridBody{
    display: flex;
    flex-direction: row;
    .GridHimself {
        display: grid;
        grid-template-columns: repeat(9, 52px);
        grid-template-rows: repeat(9, 52px);
    
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
    }

    .Ornithorynque{
        display: none;
        margin-left: 50px;
    }
    
}

}


.GridControls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 470px;
}

input{
    color: #666666;
}

@media (max-width : 500px) {
    

    .GridPage {
        width: 100vw;
        min-height: 100vh;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .InputError{
            color: #FF0000;
            font-size: 20px;
        }
    }
    
    .GridPage h2 {
        color: #FFFFFF;
    }
    
    .GridBody{
        display: flex;
        flex-direction: row;
        .GridHimself {
            display: grid;
            grid-template-columns: repeat(9, 35px);
            grid-template-rows: repeat(9, 35px);
        
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
        }
        
    }
    
    .GridControls{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 317px;
    }
    input{
        font-size: 10px;
    }
}